# Virtual environments
.venv/
venv/
.env/
env/
env.bak/
venv.bak/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
*.eggs/

# IDE/editor files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db
